.navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    
}

#admin{
    width: 5wh;
    height: 100%;
    margin-right: 10px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.logo{
    height: 100%;
    padding-left: 10px;
   
}
.logo1{
    height: 100%;
}
.image{
    height: 100%;
    
    
}

#logo {
    height: 80%;
    width: 100px;
}
hr{
    
   
}